.header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
    height: auto;
}

.header-container {
    width: 90%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
}

@media screen and (max-width: 600px) {
    .logo img {
        width: 70%;
        height: auto;
    }
}