.btn {
    background-color: #030309;
    color: white;
    font-weight: bold;
    border: none;
    padding: 1em 2em;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover,
.btn:focus {
    cursor: pointer;
    transform: scale(1.1);
}

.btn-primary {
    background-color: #030309;
    color: white;
    font-weight: bold;
    border: none;
    padding: 1em 4em;
    margin-top: .5em;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    cursor: pointer;
    transform: scale(1.03);
}

@media screen and (max-width: 600px) {
    .btn {
        font-size: .8em;
    }
}

@media screen and (max-width: 320px) {
    .btn-primary {
        font-size: .8rem;
    }
}

@media screen and (max-width: 280px) {
    .btn {
        padding: .7em 1.5em;
    }
}